body {
    background: url(assets/freedom.jpg) no-repeat center;
    background-size: cover;
    display: block;
    height: 100vh;
    width: 100%;
    line-height: 1.4;
}

.content {
    padding: 10;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 10%;
    color: rgba(58, 69, 69, 0.712);
    text-align: center;
}

.quote {
    font-size: 3rem;
    text-transform: capitalize;
}

.author {
    font-style: italic;
    font-size: 1.5rem;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Julius Sans One', sans-serif;
}